.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #f4f4f4;
}

.about {
  width: 320px;
  img {
    max-width: 80px;
    margin-right: 15px;
  }

  display: flex;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.text {
  margin-top: 3px;
  font-size: 18px;
  line-height: 22px;
  color: #8d8d8d;
}

.counter {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;

    &:active {
      transform: translateY(2px);
    }
  }
}

.count {
  display: inline-block;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 0 12px;
}

.sum {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.cancel {
  cursor: pointer;

  &:hover {
    circle {
      transition: all 0.2s;
      stroke: gray;
    }
    path {
      transition: all 0.2s;
      fill: gray;
    }
  }
}
