.item {
  max-width: 280px;
  margin: 35px 15px 0;
}

.title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin: 11px 0 22px 0;
}

.info {
  font-size: 14px;
  font-weight: 500;
  color: #7b7b7b;
  min-height: 90px;
  margin-bottom: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.button {
  border: 1px solid #eb5a1e;
  border-radius: 30px;
  width: 155px;
  height: 40px;

  &:hover {
    transition: all 0.2s;
    background-color: #eb5a1e;
    .buttonText {
      color: #ffffff;
    }

    svg {
      path {
        fill: #ffffff;
      }
    }

    .count {
      background-color: #ffffff;
      color: #eb5a1e;
    }
  }
}

.buttonText {
  margin-left: 8px;
  color: #eb5a1e;
  font-weight: 700;
}

.count {
  margin-left: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #eb5a1e;
  width: 22px;
  height: 22px;
  color: #ffffff;
  border-radius: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 400px) {
  svg {
    display: none;
  }
  .count {
    margin-left: 3px;
  }
  .button {
    width: 130px;
    margin-left: 1px;
  }
  .price {
    font-size: 18px;
  }
}
